@{
    ViewData["Title"] = "Inicio";
}

<!----<div class="text-center">
    <h1 class="display-4">Esta es la primer actividad</h1>
    Aca abajo pondre una imagen     q
    <img src="#" alt="Alternate Text" />
    
</div>-->
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
       
    </head>
    <body>
        <div class="text-center">
            <h1 class="display-4">Esta es la primer actividad</h1>
            <h5>Aca abajo pondre una imagen</h5>
            <img src="~/img/Meme.jpg" asp-append-version="true" alt="Imagen en wwwroot">

        </div>
        
    </body>
    </html>